
<div class="pageContent">
	<form method="post" action="__URL__/saverole/navTabId/listrole/callbackType/closeCurrent"  class="pageForm required-validate" 
		onsubmit="return validateCallback(this,dialogAjaxDone);"><?php  //窗体组件采用这个 iframeCallback(this, navTabAjaxDone); ?>
		<input type="hidden" name="goodsid" value="{$user.id}"/>
		<div class="pageFormContent" layoutH="60">
			
			<volist name="rolelist" id="vo">
				<div style="width:140px;float:left;margin:5px;">
					<input type="checkbox" name="rid[]" <if condition="in_array($vo['id'],$rids)">checked</if> value="{$vo.id}"/>{$vo.name}
				</div>
			</volist>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>
