
<div class="pageContent">
	<form method="post" action="__URL__/save/navTabId/listrole/callbackType/closeCurrent"  class="pageForm required-validate" 
		onsubmit="return validateCallback(this,dialogAjaxDone);"><?php  //窗体组件采用这个 iframeCallback(this, navTabAjaxDone); ?>
		<input type="hidden" name="goodsid" value="{$goodsid}"/>
		<div class="pageFormContent" layoutH="60">
			
			<volist name="list" id="vo" key="k">
				
				<if condition="$vo['pareid'] eq 0"><br>{$vo['tagname']}: <else />
					<input type="checkbox" name="rid[]" <if condition="in_array($vo['id'],$rids)">checked</if> value="{$vo.id}"/>{$vo.tagname}
					</if>
				
			</volist>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>
