
<div class="pageContent">
	<form method="post" action="__URL__/update/navTabId/listcat/callbackType/closeCurrent"  class="pageForm required-validate" 
		onsubmit="return validateCallback(this,dialogAjaxDone);"><?php  //窗体组件采用这个 iframeCallback(this, navTabAjaxDone); ?>
		<div class="pageFormContent" layoutH="60">
		<dl>
				
				<dd><input type="hidden"  style="width:100%" name="id" value="{$vo.id}" /></dd>
			</dl>
			<!-- <dl>
				<dt>类别: </dt>
				<dd><select name="pid">
					<option value="">-请选择-</option>
					<option value="0">-根类别-</option>
					<foreach name="list" item="vo">
						<option value="{$vo.id}">-{$vo.category_name}-</option>
					</foreach>
				</select></dd>
			</dl> -->
			<dl>
				<dt>类别名称：</dt>
				<dd><input type="text"  style="width:100%" name="category_name" value="{$vo.category_name}" /></dd>
			</dl>
			
			<dl>
				<dt>类别描述：</dt>
				<dd><input type="text"  style="width:100%" name="category_desc" value="{$vo.category_desc}" /></dd>
			</dl>
			
			
		</div>
		
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>

