
<div class="pageContent">
	<form method="post" action="__URL__/insert/navTabId/listupload/callbackType/closeCurrent"  class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this,dialogAjaxDone);"> 
		<input type="hidden" name="goods_id" value="{$Think.get.id}">
		<!-- <input type="hidden" name="goods_name" value=""> -->

		<div class="pageFormContent" layoutH="60">
			<dl>
				<dt>图片一：</dt>
				<dd><input name="file[]" type="file" /></dd>
			</dl>
			<dl>
				<dt>图片二：</dt>
				<dd><input name="file[]" type="file" /></dd>
			</dl>
			<dl>
				<dt>图片三：</dt>
				<dd><input name="file[]" type="file" /></dd>
			</dl>
			<dl>
				<dt>图片四：</dt>
				<dd><input name="file[]" type="file" /></dd>
			</dl>
			
		</div>
		
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit" >保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>