
<div class="pageContent">
	<form method="post" action="__URL__/update/navTabId/listupload/callbackType/closeCurrent"  class="pageForm required-validate" 
		onsubmit="return validateCallback(this,dialogAjaxDone);"><?php  //窗体组件采用这个 iframeCallback(this, navTabAjaxDone); ?>
		<input type="hidden" name="id" value="{$vo.id}"/>
		<div class="pageFormContent" layoutH="60">
			<!-- <div width="200px"><img src="../Public/Uploads/{$vo.img_name}" width="200px"></div><br><br> -->
			<input type="hidden" name="id" value="{$vo.id}">
			<input type="radio" name="img_type" value="0" <if condition="$vo.img_type eq 0">checked</if> />非封面状态
			<input type="radio" name="img_type" value="1" <if condition="$vo.img_type eq 1">checked</if> />列表页封面
			<input type="radio" name="img_type" value="2" <if condition="$vo.img_type eq 2">checked</if> />详情页封面
		</div>
		
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">修改</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>
