<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用户注册</title>
<link href="__PUBLIC__/Home/css/base.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Home/css/user.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js" type="text/javascript"></script>
<!-- <script src="__PUBLIC__/Home/js/jquery-1.7.1.min.js" type="text/javascript"></script> -->
<script src="__PUBLIC__/Home/js/register.js" type="text/javascript"></script>
<!--[if IE 6]>
<script type="text/javascript" src="js/DD_belatedPNG.js"></script>
<script>DD_belatedPNG.fix('*')</script>
<![endif]-->
<!--/*技术支持，小庄602842076     验证：商城技术支持*/
/*技术支持，小庄602842076    验证：商城技术支持*/
/*技术支持，小庄602842076    验证：商城技术支持*/
/*技术支持，小庄602842076    验证：商城技术支持*/
/*技术支持，小庄602842076    验证：商城技术支持*/
/*https://shop116998991.taobao.com/*/
/*https://shop116998991.taobao.com/*/
/*https://shop116998991.taobao.com/*/-->
</head>

<body>
	<!------------top---------------->
    <div class="top">
        <div class="top-c">
            <div class="top-left">
                <a href="javascript:;" class="collect">收藏</a>
                <a href="javascript:;" class="wechat">微信</a>
            </div>
            <div class="top-right">
                <p><a href="__MODULE__/Index/indexs">商城首页</a>
                <if condition="$Think.session.user eq null">
                    <p><a href="__MODULE__/Public/login">请登录</a></p>
                <else />
                    <p style="color:blue;">嗨，<span style="color:red;">{$Think.session.user.user_name}</span>&nbsp;欢迎来到老子的商城</p>
                    <p> | <a href="__MODULE__/Public/logout">退出当前账号</a></p>
                </if>
                <p> | <a href="__MODULE__/Public/register">免费注册</a></p>
                <p><a href="javascript:;">我的订单</a> | <a href="javascript:;">服务中心</a></p>
            </div>
        </div>
    </div>

	<!------------header---------------->
	<div class="header">
    	<div class="logo"><a href="index.html"><img src="images/logo.png" width="190" /></a></div>
    </div>
	<div class="clr2"></div>
    <!------------main---------------->
	<div class="main">
    	<div class="login-left">
        	<div class="title"><h2>注册会员<span>REGISTRATION</span></h2></div>
            <div class="form-group">
                <form action="__MODULE__/Public/doregister" method="post" >
            	<div class="input-k">
                	<span>账号：</span><input type="text" name="user_name" class="username" info="账号"/><p id="mima"></p>
                </div>
                <div class="input-k">
                    <span>真实姓名：</span><input type="text" name="user_realname" class="input" info="真实姓名"/><p></p>
                </div>
                <div class="input-k">
                	<span>密码：</span><input type="password" name="user_pass" class="input" info="密码"/><p></p>
                </div>
                <div class="input-k">
                	<span>确认密码：</span><input type="password" name="user_repass" class="reinput" info="请再次确认密码"/><p></p>
                </div>
                <div class="input-k">
                	<span>验证码：</span> <input  name="code" type="text" class="code" />
                        <span><img src="__URL__/verify" alt="" width="75" height="30"  onclick="this.src='__URL__/verify?id='+Math.random();" /></span>
                </div>
				<div class="input-k">
                	<span></span><input type='checkbox' name='checkbox' value=1 class="checkbox"><span class="jzzt">我已阅读并同意遵守&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">有货服务条款</a></span>
                </div>
                <div class="input-k">
                	<span></span><input type="submit" value="立即注册" style="background:#1D7AD9;">
                </div>
            </form>
            </div>
            <div class="input-k" style="color:red;"><br><span></span class="error">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$errorinfo}</div>
        </div>
        
        <div class="login-right">
        	<p>已经是我们的会员？</p>
            <a href="__MODULE__/Public/login" style="padding-left:40px;">立即登录</a>
        </div>
        
    </div>
	
     <!------底部-------->
	<div class="footer">
    	<div class="footer-c">
        	<dl>
            	<dt>购买指南</dt>
                <dd><a href="#">第一次购物体验</a></dd>
                <dd><a href="#">品质保证原则</a></dd>
                <dd><a href="#">会员申请条件</a></dd>
            </dl>
            <dl>
            	<dt>支付方式</dt>
                <dd><a href="#">网银在线支付</a></dd>
                <dd><a href="#">支付宝支付</a></dd>
                <dd><a href="#">银联在线支付</a></dd>
            </dl>
            <dl>
            	<dt>配送方式</dt>
                <dd><a href="#">配送方式</a></dd>
            </dl>
            <dl>
            	<dt>售后服务</dt>
                <dd><a href="#">联系客服</a></dd>
                <dd><a href="#">订单查询</a></dd>
                <dd><a href="#">退换货流程及原则</a></dd>
            </dl>
            
            <div class="col-contact">
                <p class="phone">400-100-5678</p>
                <p>周一至周日 8:00-18:00<br />（仅收市话费）</p>
                <input type="button" value="在线客户" />
            </div>
            <div class="clr20"></div>
            <div class="footer-b">
                <p><a href="#">关于我们</a>  |  <a href="#">手机商城</a>  |  <a href="#">联系我们</a></p>
                <p>2013 © DEHUA.com,All Rights Reserver. cz科技 版权所有　　网站备案号：闽ICP备0000号-1</p>
            </div>
        </div>
    </div>


</body>
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>

</html>
