<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>结算</title>
<link href="__PUBLIC__/css/base.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/index.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="__PUBLIC__/haom/css/common.css" type="text/css" media="all" />
<link rel="stylesheet" href="__PUBLIC__/haom/css/settlement.css" type="text/css" media="all" />
<script type="text/javascript" src="__PUBLIC__/haom/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/haom/js/slider.js"></script>
</head>

<body bgcolor="#e0d6df">
  <include file="header/header" />
  <div id="container">
    <div id="content">
      <p>订单号:{$num}</p>
      <button onclick="zhifu()">确认支付</button>
      <div class="recommend">
      <h1 class="title">掌柜推荐</h1>
      <div class="rec-slider">
      <ul>
      <script type="text/javascript">
        function zhifu(){
          window.location="__MODULE__/car/ok/num/{$num}";
        }
      </script>
      <li>
          <p class="recom-img"><a href="../product/details.html"><img src="__PUBLIC__haom/img/ico-recommend01.jpg" alt="猕猴桃" width="163" height="153" /> <span></span> </a> </p>
          <p class="recom-name"><a href="../product/details.html">猕猴桃（新品上市）</a></p>
          <p class="recom-price">￥5.60/斤</p>
        </li>
        <li>
          <p class="recom-img"><a href="../product/details.html"><img src="__PUBLIC__haom/img/ico-recommend01.jpg" alt="猕猴桃" width="163" height="153" /> <span></span> </a> </p>
          <p class="recom-name"><a href="../product/details.html">猕猴桃（新品上市）</a></p>
          <p class="recom-price">￥5.60/斤</p>
        </li>
        <li>
          <p class="recom-img"><a href="../product/details.html"><img src="__PUBLIC__haom/img/ico-recommend01.jpg" alt="猕猴桃" width="163" height="153" /> <span></span> </a> </p>
          <p class="recom-name"><a href="../product/details.html">猕猴桃（新品上市）</a></p>
          <p class="recom-price">￥5.60/斤</p>
        </li>
        <li>
          <p class="recom-img"><a href="../product/details.html"><img src="__PUBLIC__haom/img/ico-recommend01.jpg" alt="猕猴桃" width="163" height="153" /> <span></span> </a> </p>
          <p class="recom-name"><a href="../product/details.html">猕猴桃（新品上市）</a></p>
          <p class="recom-price">￥5.60/斤</p>
        </li>
        <li>
          <p class="recom-img"><a href="../product/details.html"><img src="__PUBLIC__haom/img/ico-recommend01.jpg" alt="猕猴桃" width="163" height="153" /> <span></span> </a> </p>
          <p class="recom-name"><a href="../product/details.html">猕猴桃（新品上市）</a></p>
          <p class="recom-price">￥5.60/斤</p>
        </li>
        <li>
          <p class="recom-img"><a href="../product/details.html"><img src="__PUBLIC__haom/img/ico-recommend01.jpg" alt="猕猴桃" width="163" height="153" /> <span></span> </a> </p>
          <p class="recom-name"><a href="../product/details.html">猕猴桃（新品上市）</a></p>
          <p class="recom-price">￥5.60/斤</p>
        </li>
        <li>
          <p class="recom-img"><a href="../product/details.html"><img src="__PUBLIC__haom/img/ico-recommend01.jpg" alt="猕猴桃" width="163" height="153" /> <span></span></a> </p>
          <p class="recom-name"><a href="../product/details.html">猕猴桃（新品上市）</a></p>
          <p class="recom-price">￥5.60/斤</p>
        </li>
      </ul>
      </div>
      <p class="recommend-tab">
        <span class="recommend-prev">&lt;</span>
        <span class="recommend-next">&gt;</span>
      </p>
    </div>
    </div>
  </div>
  <div id="footer">
    <div class="footer-logo">
      芙佳
    </div>
    <dl class="company-info">
      <dt>公司信息</dt>
      <dd>TEL. 02-3446-8622</dd>
      <dd>Fax. 02-541-7487</dd>
      <dd>mail: www.fujia@163.com</dd>
    </dl>
  </div>
  <script type="text/javascript" src="__PUBLIC__/homejs/jquery-1.7.1.min.js"></script>


</body>
</html>
